<!DOCTYPE html>
<html>

<head>
<title>{{ .Title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:300|Roboto">

<link rel="stylesheet" href="/css/home.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="{{ .Title}}" />
<meta property="og:title" content="{{ .Title}}" />
<meta name="description" content="A static website about the most famous person in the world named Tyler Reimold." />
<meta property="og:description" content="A static website about the most famous person in the world named Tyler Reimold." />
<meta name="google-site-verification" content="NrBUx7KLKPbioBgZPs5nQthMVHZqA3nHT6iS6xBGQos">
<meta content="reimold, tyler reimold, tyler" name="keywords">
</head>

<body>

<div class="container">
	<div class='left'>
		<div class="left_inner">
			<p class="font_title">Tyler Reimold.</p><p class="font_social">
				<a class="font_social fa fa-facebook" href="https://www.facebook.com/lordtyler101" target="_blank"></a> <a class=" font_social fa fa-instagram" href="https://www.instagram.com/tylerreimold/" target="_blank"></a> <a class=" font_social fa fa-twitter" href="https://twitter.com/TylerReimold" target="_blank"></a> <a class=" font_social fa fa-linkedin" href="https://www.linkedin.com/in/tyler-reimold-438701126/" target="_blank"></a> <a class=" font_social fa fa-github" href="https://github.com/tydus101" target="_blank"></a>
			</p>
		</div>
	</div>

	<div class='right'>
		<div class='right_inner'>
			<img  class="right_image" src="/assets/IMAG1768.jpg">
		</div>

	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98121398-1', 'auto');
  ga('send', 'pageview');

</script>
</body>


</html>
