@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Yanone+Kaffeesatz:700');

.font_title {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:72pt;
	color: #58595B;
}

.font_paragraph {
	font-family: 'Droid Sans', sans-serif;
	font-size:18pt;
	color: #2F2C2A;
	text-align: left; 
}

.right {
	padding:13%;
}

.left {
	width:50%;
	height:50%;

}
body {
	background-color: #403B3C;
}