@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Yanone+Kaffeesatz:700');

.font_title {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:72pt;
	color: #58595B;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	text-align: right;
}
.font_title:hover{
	color:#525AB8;
}


.font_paragraph {
	font-family: 'Droid Sans', sans-serif;
	font-size:18pt;
	color: #2F2C2A;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	text-align: right;
}

.font_paragraph:hover {
	color:#ADB860;

}

.right {
	padding-top:15%;
	
}

.left {
	margin-left:17%;
	margin-right:10%;
	padding-top:8%;
	float:left;
	width: 30%;
}


.right_image {
	width: 25%;
	height: auto;
	-webkit-filter: grayscale(100);
	filter: grayscale(100);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.right_image:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


body {
	background-color: #403B3C;
}