
.font_title {
	font-family: 'Raleway', sans-serif;
	color:#ADB860;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	text-align: center;
	line-height: 100px;
	margin-bottom: 40px;

}


.font_paragraph {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	text-align: center;
	font-size:18pt;
}

.font_social{
	color:#FFFFFF;
	font-size: 25pt;
	text-align: center;
	word-spacing: 10pt;

}
.font_social a {
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	text-align: center;
	text-decoration: none;
	line-height: 0px;
}

.font_social a:hover{
	color:#7D4985;
	font-size: 33pt;


}

html {
  background-image: url(/assets/pexels-photo-218434_blackened.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.container, body {
	height: 100vh;
}

body {
  /*background-color: #403B3C;*/
}

@media (min-width: 961px) {
	body {
		overflow: hidden;
	}
}

.right {
	float:left;
	position: relative;
	
}

@media (min-width: 961px)
{
	.right {
		max-width:30%;
		width:30%;
		float:left;
		position: relative;
		height: 100%;

	
	}
}
@media (max-width: 960px)
{
	.right {
		max-width:100%;
		width:100%;

	
	}
}

.left{
	float:left;
	position: relative;
	text-align: center;

}

@media (min-width: 961px)
{
	.left {
		max-width:70%;
		width:70%;
		height: 100%;
	}
}
@media (max-width: 960px)
{
	.left {
		max-width:100%;
		width:100%;
	}
}

.left_inner {
	position:relative;
}
@media (min-width: 961px)
{
	.left_inner {
		padding-left: 5%;
		top: 50%;
	    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-100%);
		font-size:60pt;
    }
}
@media (min-width: 531px)
{
	.left_inner {
		font-size:60pt;
	}
}
@media (max-width: 530px)
{
	.left_inner {
		font-size:40pt;
	}
}

.right_inner {
	position: relative;
}

@media (min-width: 961px)
{

	.right_inner {
		padding-right:10%;
		top: 50%;
	    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

	}
}
@media (max-width: 960px)
{

	.right_inner {
		display: block;
		margin: 0 auto;
		width: 60%;
	}
}

.right_image {
	max-width: 100%;
	max-height: auto;
	/*-webkit-filter: grayscale(100);*/
	/*filter: grayscale(100);*/
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
/*	border: 3px solid white;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}


