@import url('https://fonts.googleapis.com/css?family=Raleway:200|Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.font_title {
	font-family: 'Raleway', sans-serif;
	font-size:60pt;
	color:#ADB860;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	text-align: center;
}
.font_title:hover{
	color:#ADB860;
}


.font_paragraph {
	font-family: 'Roboto', sans-serif;
	font-size:18pt;
	color: #2F2C2A;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	text-align: center;
}

.font_paragraph:hover {
	color:#525AB8;

}

.font_social{
	color:#FFFFFF;
	text-decoration: none;
	font-size: 25pt;
	text-align: center;
	word-spacing: 10pt;
}


.container, body {
	height: 100vh;
}

body {
	background-color: #403B3C;
}

@media (min-width: 960px) {
	body {
		overflow: hidden;
	}
}

.right {
	float:left;
	position: relative;

	
}

@media (min-width: 960px)
{
	.right {
		max-width:30%;
		width:30%;
		float:left;
		position: relative;
		height: 100%;

	
	}
}
@media (max-width: 960px)
{
	.right {
		max-width:100%;
		width:100%;

	
	}
}

.left{
	float:left;
	position: relative;

}

@media (min-width: 960px)
{
	.left {
		max-width:70%;
		width:70%;
		height: 100%;
	}
}
@media (max-width: 960px)
{
	.left {
		max-width:100%;
		width:100%;
	}
}

.left_inner {
	position:relative;
}
@media (min-width: 960px)
{
	.left_inner {
		padding-left: 5%;
		top: 50%;
	    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-100%);
    }
}
@media (max-width: 960px)
{
	.left_inner {
	}
}

.right_inner {
	position: relative;
}

@media (min-width: 960px)
{

	.right_inner {
		padding-right:10%;
		top: 50%;
	    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

	}
}
@media (max-width: 960px)
{

	.right_inner {
		display: block;
		margin: 0 auto;
		width: 50%;
	}
}

.right_image {
	max-width: 100%;
	max-height: auto;
	-webkit-filter: grayscale(100);
	filter: grayscale(100);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.right_image:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


